.container{
    max-width: 1120px;
    margin: 0 auto;
}
main {
    background-image: url('/Images/bg.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:fixed;
}