.container{
    max-width: 1120px;
    margin: 0 auto;
}
*{
    
  
}

.navbar_after::after{
    content: "";
    width: 100px;
    height: 100px;

    top:0;

    background-color: yellow;
    color: red;
    font-weight: bold;
}

main {
    background-image: url('/Images/bg.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:fixed;
}
